h1, h2, h3,
h4, h5, h6, p {
  font-family: 'Open Sans', Arial, sans-serif;
}

img {
  width: 100%;
  display: block;
}

.hero {
  /*height: 500px;*/
  background-image: url('../img/header.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 7vw 0;
}

header .logo {
  display: block;
  width: 65%;
  margin: 0 auto;
}

header h3 {
  color: #ffffff;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.5;
  margin-left: 20px;
  margin-right: 20px;
}


.slider {
  padding: 20px 0;
}

.content {
  max-width: 965px;
  padding: 20px 0
}

.content p {
  font-size: 16px;
}

.carousel {
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel li {
  padding: 0;
  list-style: none;
}

#main-content {
  line-height: 1.75;
}
#main-content h3 {
  color: #0E1D12;
}

#main-content h3,
#main-content p:not(:first-child) {
  text-align: center;
}

iframe {
  width: 100%;
  height: auto;
  border: 0;
  height: 250px;
}


footer {
  padding: 24px 0;
  background-color: #042844;
  color: #ffffff;
}

footer span {
  display: block;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  /*margin-right: 15px*/
}

footer .logo {
  width: 20px;
}


@media (min-width: 450px) {

  header .logo {
    width: 320px;
  }

  footer span {
    display: inline-block;
    margin-right: 15px
  }

  footer .logo {
    width: 20px;
  }


}
